@tailwind base;
@tailwind components;
@tailwind utilities;

.triangle-background {
  background-image: url("/images/TriangleBackground.png");
  background-size: cover;
  background-attachment: fixed;
}

.header-logo {
  background-image: url("/images/NameLogo.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.stencil-font {
  font-family: "Allerta Stencil";
}

.cade-image-md {
  background: url("/images/cade.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 50%;
  background-size: 250px;
}

.cade-image-bg {
  background: url("/images/cade.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.experience-background {
  background-image: url("/images/e-commerce.png");
  background-size: cover;
}

.skills-background {
  background-image: url("/images/early-career.png");
  background-size: cover;
}

.projects-background {
  background-image: url("/images/branching-out.png");
  background-size: cover;
}

.connect-background {
  background-image: url("/images/growing-up.png");
  background-size: cover;
}

.sticky-webkit {
  position: -webkit-sticky;
  position: sticky;
}

.code-background {
  background-image: url("/images/code-bg.png");
  background-size: contain;
  background-position: center;
}

.process-background {
  background-image: url("/images/process-bg.png");
  background-size: contain;
  background-position: center;
}

.environment-background {
  background-image: url("/images/environment-bg.png");
  background-size: contain;
  background-position: center;
}

.mcc-background {
  background-image: url("/images/mcc.jpg");
  background-size: cover;
  background-position: center;
}

.uta-background {
  background-image: url("/images/uta.jpg");
  background-size: cover;
  background-position: center;
}

.origins-background {
  background-image: url("/images/desert-city.png");
  background-size: cover;
  background-position: right;
}
.austin-background {
  background-image: url("/images/texas-city.png");
  background-size: cover;
  background-position: right;
}
.sf-background {
  background-image: url("/images/san-francisco.png");
  background-size: cover;
  background-position: right;
}
.la-background {
  background-image: url("/images/los-angeles.png");
  background-size: cover;
  background-position: right;
}

.scroll-fade {
  mask-image: linear-gradient(
    to right,
    #0000,
    #000,
    #000,
    #000,
    #000,
    #000,
    #000,
    #0000
  );
}
